html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: clip;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

/* Menu animation */

.menu_dropdown {
	transform-origin: calc(100% - 0.5rem) 0.5rem;
}

.menu.is-open .button.is-menu-trigger {
	color: var(--brand--orange);
	background-color: var(--brand--black);
}

/* Case list */

.projects_image,
.projects_image-wrap {
	transition: 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.projects_link:hover .projects_image {
	scale: 1.1;
}

.projects_link:hover .projects_image-wrap {
	border-radius: 1rem;
}

/* Project filters */
[data-filters-tag="wrap"].display-none {
	display: none;
}

/* Text reveal animation */

.line {
	transform: translateY(100%);
}

.home-hero_p-wrap .mask-wrap:first-child .line {
	text-indent: 2rem;
}

[data-fade-reveal="target"] {
	opacity: 0;
	transform: translateY(24px);
}

/* Border reveal animation */

.horizontal-divider {
	transform: scaleX(0);
	transform-origin: center;
}
.vertical-divider {
	transform: scaleY(0);
	transform-origin: center;
}

/* Project inner other posts block */
[data-hide-cms-value] .w-dyn-item:nth-child(3) {
	display: none;
}

/* Accordiong */
.services-list_accordion_trigger.is-open .services-list_accordion_icon-line:not(.is-vertical),
.faq_accordion_trigger.is-open .faq_accordion_icon-line:not(.is-vertical) {
	display: none;
}

.services-list_accordion_trigger.is-open .services-list_accordion_icon,
.faq_accordion_trigger.is-open .faq_accordion_icon {
	transform: rotate(90deg);
}

/* MASK btns with rotating arrow */
.work-projects_more-icon,
.services-list_accordion_icon,
.faq_accordion_icon,
.form_close-icon {
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.work-projects_more-link:hover .work-projects_more-icon,
.services-list_accordion_trigger:hover .services-list_accordion_icon,
.faq_accordion_trigger:hover .faq_accordion_icon,
.form_close-btn:hover .form_close-icon {
	transform: rotate(90deg);
}

/* Services explore */
.services-explore_image {
	opacity: 0;
}

/* Project form */
.form_checkbox-field:has(.form_checkbox-input:checked),
.form_select-field:has(.w-form-formradioinput:checked) {
	background-color: var(--color--bg-primary);
	color: var(--color--text-primary);
}

.form_privacy-field:has(input[type="checkbox"]:checked) .form_checkmark {
	display: flex;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
	background-image: none;
}

.form_input.error-field {
	border-color: #ed5b2b;
	color: #ed5b2b;
}
.form_input.error-field::placeholder {
	color: #ed5b2b;
}

.form_privacy-field.error-field,
.form_privacy-field.error-field .form_privacy-link {
	color: #ed5b2b;
}
.form_privacy-field.error-field .form_custom-checkbox {
	border-color: #ed5b2b;
}

.form .error {
	color: #ed5b2b;
}

/* Color mode switch */
.menu_mode-hover {
	transition: opacity 0.2s ease;
}
.menu_mode-switch:hover .menu_mode-hover {
	opacity: 1;
}

/* Menu link */
.menu_nav-icon {
	transition: margin 0.3s ease;
}

.menu_nav-link.is-current .menu_nav-icon {
	margin-left: 0;
}
