html.lenis,
html.lenis body {
	height: auto;
}

/* For preventing flickering of initial gsap states. In JS this is set back to autoAlpha: 1 */
body {
	opacity: 0;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

/* Case list */

.projects_image {
	transition: scale 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.projects_image-wrap {
	transition: border-radius 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (hover: hover) {
	.projects_link:hover .projects_image {
		scale: 1.05;
	}

	.projects_link:hover .projects_image-wrap {
		border-radius: 1rem;
	}
}

/* Project filters */
[data-filters-tag="wrap"].display-none {
	display: none;
}

@media only screen and (min-width: 992px) {
	.button.is-filter.is-open .icon-1x1-xsmall {
		transform: rotate(90deg);
	}
}

@media only screen and (max-width: 991px) {
	.button.is-filter.is-open .work-projects_filter-icon-horizontal-line {
		display: none;
	}
}

.work-projects_tag_icon {
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

[data-filters-tag="wrap"]:hover .work-projects_tag_icon {
	transform: rotate(90deg);
}

.filters_icon {
	transition: margin 0.3s ease;
}

.filters_radio-input.fs-cmsfilter_active .filters_icon {
	margin-left: 0;
}

.filters_radio-input.fs-cmsfilter_active {
	pointer-events: none;
}

.filters_radio-input.fs-cmsfilter_active .mask-wrap > :nth-child(1) {
	transform: translateY(-100%);
}

.filters_radio-input.fs-cmsfilter_active .mask-wrap > :nth-child(2) {
	transform: translateY(0%);
}

/* Text reveal animation */

.line {
	transform: translateY(100%);
}

.home-hero_p-wrap .mask-wrap:first-child .line {
	text-indent: 2rem;
}

[data-fade-reveal="target"] {
	opacity: 0;
}

/* Border reveal animation */

.horizontal-divider {
	transform: scaleX(0);
	transform-origin: center;
}

.horizontal-divider.is-left {
	transform-origin: left;
}

.vertical-divider {
	transform: scaleY(0);
	transform-origin: center;
}

/* Project inner other posts block */
[data-hide-cms-value] .w-dyn-item:nth-child(3) {
	display: none;
}

/* Accordion */
@media only screen and (min-width: 992px) {
	.services-list_accordion_trigger.is-open .services-list_accordion_icon-line:not(.is-vertical),
	.faq_accordion_trigger.is-open .faq_accordion_icon-line:not(.is-vertical) {
		display: none;
	}

	.services-list_accordion_trigger.is-open .services-list_accordion_icon,
	.faq_accordion_trigger.is-open .faq_accordion_icon {
		transform: rotate(90deg);
	}
}

@media only screen and (max-width: 991px) {
	.services-list_accordion_trigger.is-open .services-list_accordion_icon-line.is-vertical,
	.faq_accordion_trigger.is-open .faq_accordion_icon-line.is-vertical {
		display: none;
	}
}

/* MASK btns with rotating arrow */
.work-projects_more-icon,
.services-list_accordion_icon,
.faq_accordion_icon,
.form_close-icon {
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (min-width: 992px) {
	.work-projects_more-link:hover .work-projects_more-icon,
	.services-list_accordion_trigger:hover .services-list_accordion_icon,
	.faq_accordion_trigger:hover .faq_accordion_icon,
	.form_close-btn:hover .form_close-icon {
		transform: rotate(90deg);
	}
}

/* Project form */
.form_checkbox-field:has(.form_checkbox-input:checked),
.form_select-field:has(.w-form-formradioinput:checked) {
	background-color: var(--color--bg-primary);
	color: var(--color--text-primary);
}

@media (hover: hover) {
	.form_checkbox-field:has(.form_checkbox-input:checked) .mask-wrap > :nth-child(1),
	.form_select-field:has(.w-form-formradioinput:checked) .mask-wrap > :nth-child(1) {
		transform: translateY(-100%);
	}

	.form_checkbox-field:has(.form_checkbox-input:checked) .mask-wrap > :nth-child(2),
	.form_select-field:has(.w-form-formradioinput:checked) .mask-wrap > :nth-child(2) {
		transform: translateY(0%);
	}
}

.form_privacy-field:has(input[type="checkbox"]:checked) .form_checkmark {
	display: flex;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
	background-image: none;
}

.form_input.error-field {
	border-color: #ed5b2b;
	color: #ed5b2b;
}
.form_input.error-field::placeholder {
	color: #ed5b2b;
}

.form_privacy-field.error-field,
.form_privacy-field.error-field .form_privacy-link {
	color: #ed5b2b;
}
.form_privacy-field.error-field .form_custom-checkbox {
	border-color: #ed5b2b;
}

.form .error {
	color: #ed5b2b;
}

/* Color mode switch */
@media (hover: hover) {
	.menu_mode-switch:hover .menu_mode-half {
		transform: translateX(50%);
	}
	.menu_mode-switch.is-dark-mode:hover .menu_mode-half {
		transform: translateX(-50%);
	}
}

.menu_mode-switch.is-dark-mode .menu_mode-half {
	transform: translateX(50%);
}

/* Menu link */
.menu_nav-icon {
	transition: margin 0.3s ease;
}

.menu_nav-link.is-current .menu_nav-icon {
	margin-left: 0;
}

.menu_nav-link.is-current {
	pointer-events: none;
}

[data-mask-btn].is-current .mask-wrap > :nth-child(1) {
	transform: translateY(-100%);
}

[data-mask-btn].is-current .mask-wrap > :nth-child(2) {
	transform: translateY(0%);
}

/* Hide scrollbars */

html,
body,
.main-wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar,
.main-wrapper::-webkit-scrollbar,
.horizontal-scroll_frame::-webkit-scrollbar {
	display: none;
}

/* Disable form btn text select */
label {
	user-select: none; /* Standard syntax */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

/* Text select BG color */

/* Apply to all text on the website */
::selection {
	background: var(--color--bg-secondary);
	color: var(--color--text-secondary);
}

/* For Firefox compatibility */
::-moz-selection {
	background: var(--color--bg-secondary);
	color: var(--color--text-secondary);
}

/* Footer menu */

.menu.is-footer .button.is-menu-trigger {
	--brand--orange: var(--color--text-primary);
	--brand--black: var(--color--bg-primary);
}

.menu.is-footer .menu_background {
	--brand--orange: var(--color--bg-secondary);
}

.menu.is-footer .menu_nav-link,
.menu.is-footer .menu_mode-half {
	--brand--black: var(--color--text-secondary);
}

.menu.is-footer .menu_mode-switch {
	--brand--black: var(--color--border-secondary) !important;
}

/* Project view switcher */

.work-switch_link.is-active {
	/* color: var(--color--text-secondary); */
	pointer-events: none;
}

[data-disable-switch="wrap"].is-disabled {
	pointer-events: none;
}

/* Menu Dropdown */
@media only screen and (max-width: 991px) {
	[data-menu-animation="button"].is-open .menu_button-horizontal-line {
		display: none;
	}
}

/* Lottie */
/* Default light mode */
[data-theme="light"] .home-hero_icon svg {
	filter: none;
}

/* Dark mode */
[data-theme="dark"] .home-hero_icon svg {
	filter: invert(1);
}
